In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score
import pandas as pd 
from pathlib import Path
import sys

# Import scientific librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from prophet import Prophet
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Add project directory to kernel paths
sys.path.append('../../')


print("We're running localy")

We're running localy

In [2]:
from src.data.file_manager import FileManager
weatherManager = FileManager()
color_pal = sns.color_palette()

In [3]:
raw_dir_path = weatherManager.data_dir / 'raw'

raw_path = str(raw_dir_path / 'theo_data.csv')
df_vigne = pd.read_csv(raw_path)
# df_vigne = df_vigne.reset_index()

#on rename index par Year
# df_vigne = df_vigne.rename(columns={'index': 'ds'})
df_vigne = df_vigne.rename(columns={'0': 'Weather'})
df_vigne

    Weather
0        32
1        31
2        31
3        36
4        34
5        28
6        25
7        31
8        34
9        33
10       31
11       35
12       29
13       37
14       29
15       34
16       31
17       33
18       32
19       31
20       37
21       30
22       13
23       22
24       24
25       17
26       12
27       22
28       26
29       14

In [4]:
raw_dir_path = weatherManager.data_dir / 'raw'

raw_path = str(raw_dir_path / 'raw_data.csv')
df_meteo = pd.read_csv(raw_path)
df_meteo

    index  AverageTemperature
0    2000           11.738083
1    2001           11.361583
2    2002           11.767500
3    2003           12.076917
4    2004           11.266333
5    2005           11.229083
6    2006           11.871250
7    2007           11.571833
8    2008           11.200750
9    2009           11.607500
10   2010           10.531583
11   2011           12.272750
12   2012           11.331750
13   2013           12.400000
14   2014           13.800000
15   2015           13.600000
16   2016           13.100000
17   2017           13.400000
18   2018           13.900000
19   2019           13.700000
20   2020           14.100000
21   2021           12.900000
22   2022           14.500000

In [5]:
# Convert the column in df_vigne to float type
df_vigne['Weather'] = df_vigne['Weather'].astype(float)

# Perform the merge
merged_df = df_vigne.merge(df_meteo, how='right', left_index=True, right_index=True)[['AverageTemperature', 'Weather' ]]
merged_df

    AverageTemperature  Weather
0            11.738083     32.0
1            11.361583     31.0
2            11.767500     31.0
3            12.076917     36.0
4            11.266333     34.0
5            11.229083     28.0
6            11.871250     25.0
7            11.571833     31.0
8            11.200750     34.0
9            11.607500     33.0
10           10.531583     31.0
11           12.272750     35.0
12           11.331750     29.0
13           12.400000     37.0
14           13.800000     29.0
15           13.600000     34.0
16           13.100000     31.0
17           13.400000     33.0
18           13.900000     32.0
19           13.700000     31.0
20           14.100000     37.0
21           12.900000     30.0
22           14.500000     13.0

In [6]:
from sklearn.model_selection import train_test_split
X = merged_df.copy()
y = merged_df['Weather']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [7]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [8]:
clf.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [9]:
predictions = clf.predict(X_test)
predictions

array([34., 37., 32., 28., 28., 31., 31., 35.])

In [10]:
#show difference between tree that doesn't have stopping criteria
clf.predict_proba(X_test)

array([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]])

In [11]:
accuracy_score(y_test, predictions)

0.625

In [12]:
confusion_matrix(y_test, predictions)

array([[0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 2, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1]])

In [13]:
precision_score(y_test, predictions, average='micro')

0.625